%h1 Dashboard

%ul#posts-menu.menu
  %li= link_to 'create a post', new_user_post_path(@current_user)
  %li= link_to 'view my posts', user_posts_path(@current_user)
  %li= link_to 'view drafts', drafts_user_posts_path(@current_user)
